VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=

# Emulator - Enabled by default
VITE_FIREBASE_EMULATOR_ENABLED=true
VITE_FIREBASE_FIRESTORE_EMULATOR_PORT=4010
VITE_FIREBASE_AUTH_EMULATOR_PORT=4030
